<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>enQrypt</title>
    <link rel="icon" href="static/images/white_whistle.png">
		<link rel="stylesheet" href="static/index.css" />
    

		<!-- Google Icons -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
	</head>
	<body>
		<header id="header">
			<h1 id="title">enQrypt</h1>
		</header>
		<main id="main">
			<section id="call-to-action">
				<div id="whistleblower-action-message">
					<i class="material-icons">sports</i>
					<h2 class="action-message">be a whistleblower.</h2>
				</div>
				<div id="send-action-message">
					<i class="material-icons">lock</i>
					<h2 class="action-message">
						send a quantum-encrypted secret message.
					</h2>
				</div>
			</section>
			<section id="grid-wrapper">
				<div id="receive">
					<h3 id="message-placeholder">
						Inbox
					</h3>
					<ul id="received-messages">

					</ul>
				</div>
				<div id="send">
					<div id="to-box">
						<input
							id="email"
							placeholder="Enter recipient email address"
						/>
						<input type="submit" id="send-message" value="Send"/>
					</div>
					<div id="message-area" name = "message">
						<textarea
							id="message"
							placeholder="Type your message…"
						></textarea>
					</div>
				</div>
			</section>
		</main>
		<!-- <footer id="footer">
			<p>
				Juan Alvarez, Brios Olivares, Mannendri Olivares, and Michael
				Tesfaye
			</p>
			<p>&copy; 2022 Project Name Inc.</p>
		</footer> -->
   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js" ></script>
    <script src= "/static/index.js"></script>
	</body>
</html>
